﻿@*@{
		ViewBag.Title = "Create";
	}*@

<h2>Create Menu</h2>

<form method="post">

	<label>Name </label>
	<input name="name"/>
	<br />

	<label>Image</label>
	<input name="image"/>
	<br />

	<label>Menu Mode</label>
	<input name="menuMode" />
	<br />

	<label>Active</label>
	<input name="active"/>
	<br />

	<button type="submit">Save</button>


</form>
