﻿@model Hyatt.Entity.Menu
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Menu</h2>

<h1>Are you sure to Delete this menu</h1>

<form method="post">
	<input type="hidden" name="id" value="@Model.id"/><br />
		<button type="submit">Yes</button>
</form>

