﻿@model Hyatt.Entity.Menu
@{
	ViewBag.Title = "Edit";
}

<h2>Update Menu</h2>

<form method="post">

	<input type="hidden" name="id" value="@Model.id" />

	<label>Name </label>
	<input name="name" value="@Model.name" />
	<br />

	<label>Image</label>
	<input name="image" value="@Model.image" />
	<br />

	<label>Menu Mode</label>
	<input name="menuMode" value="@Model.menuMode" />
	<br />

	<label>Active</label>
	<input name="active" value="@Model.active" />
	<br />

	<button type="submit">Save</button>


</form>