﻿@model List<Hyatt.Entity.Menu>
@{
	ViewBag.Title = "Index";
}

<h2>Menus</h2>

	

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Image</th>
			<th scope="col">MenuMode</th>
			<th scope="col">Active</th>
		</tr>
	</thead>
	@foreach (var menu in Model)
	{

		<tbody>
			<tr>
				<td>@menu.id</td>
				<td>@menu.name</td>
				<td>@menu.image</td>
				<td>@menu.menuMode</td>
				<td>@menu.active</td>
			</tr>

		</tbody>
	}
</table>

	
